.Home{
    width: 100%;
    height: 0;
   padding-top: 50%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-size: cover;
    background: url("./img/001.jpg") center;
    position: relative;

   
}

.Home-slogan-div{
    position:absolute;
    left: 50%;
    top: 50%;
    margin-top:-20px;
    margin-left:-260px;
    /* width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; */
    
}

.Home-slogan {
    font-size: 4em;
    color: #ffffff;
}